{% load socialaccount %}
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Google Registration</title>
</head>
<body>
  <br><br>
  {% if user.is_authenticated %}
  <div style="text-align:center">
  <h1>Buddy Finder App</h1>
  <p>Welcome, {{ user.username }}! You have successfully logged in.</p>
  <br>
  <div class="d-grid gap-2 col-7 mx-auto">
  <a class="btn btn-primary btn-lg btn-block" href="{% url 'social_app:profile' %}">Click here to access profile page.</a>
  <br><br><br>
  <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'logout' %}">Logout</a>
  </div>
  </div>
  {% else %}
  <div style="text-align:center">
  <h1 style="text-align:center">Buddy Finder App</h1>
  <div class="d-grid gap-2 col-7 mx-auto">
  <a class="btn btn-primary btn-lg btn-block" href="{% provider_login_url 'google' %}">Login with Google</a>
  </div>
  </div>
  {% endif %}
</body>
</html>