<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
    {% if exist %}
        {% if reported %} <!--Not working-->
            <h3>You have been reported. Your profile no longer exists.</h3>
        {% else %}
            <h3>YOU HAVE A PROFILE</h3> <!--temp placeholder-->
            <div class="container-fluid">
                <form action="display" method="post">
                    {% csrf_token %}
                See Profile
                    <input type="submit">
            </form>
                <!--Display profile here-->
                <!--Add Report button here-->
            </div>
        {% endif %}
    {% else %}
        <h3>CREATE PROFILE</h3>
        <div class="container-fluid">
            <form action="display" method="post">
                {% csrf_token %}
                <label for="name">Enter name: </label>
                <input id="name" type="text" name="name" value="">
                <label for="bio">Enter bio: </label>
            <input id="bio" type="text" name="bio" value="">
                <label for="gender">Enter gender: </label>
                <input id="gender" type="text" name="gender" value="">
                {% for value, text in form.interests.field.choices %}
                <div class="ui slider checkbox">
                <input id="id_interests_{{ forloop.counter0 }}" name="{{ form.interests.name }}" type="checkbox" value="{{ value }}"{% if value in checked_interests %} checked="checked"{% endif %}>
                <label>{{ text }}</label>
                </div>
                {% endfor %}
            <input type="submit">
            </form>
        </div>
            <!--Add form here to take in info for profile-->
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>